body{
    background-image: url("https://images.unsplash.com/photo-1578425409635-0a71fb4bdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN0YXJzJTIwd2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60");
    background-color: rgb(163, 219, 163);
    color: rgb(220, 212, 212);
}